.body {
  position: absolute;
  width: 180px;
  height: 141px;
  background: rgb(159, 212, 220);
  background: linear-gradient(
    180deg,
    rgba(159, 212, 220, 1) 69%,
    rgba(99, 162, 185, 1) 87%
  );
  bottom: -360px;
  right: 110px;
  border-radius: 87% 27% 74% 72% / 100% 100% 100% 93%;
  z-index: 1;
}

.wing-right {
  position: absolute;
  width: 33px;
  height: 81px;
  background: rgb(159, 212, 220);
  background: linear-gradient(
    180deg,
    rgba(159, 212, 220, 1) 69%,
    rgba(99, 162, 185, 1) 87%
  );
  bottom: -320px;
  right: 85px;
  border-radius: 84% 59% 100% 98% / 25% 100% 100% 42%;
}

.wing-left {
  position: absolute;
  width: 57px;
  height: 90px;
  background: rgb(159, 212, 220);
  background: linear-gradient(
    180deg,
    rgba(159, 212, 220, 1) 69%,
    rgba(99, 162, 185, 1) 87%
  );
  bottom: -350px;
  left: 140px;
  z-index: 2;
  border-radius: 84% 59% 100% 100% / 68% 100% 100% 100%;
  transform: rotate(10deg);
  border-style: solid;
  border-color: #add9dc black black black;
}
