.head {
  position: absolute;
  width: 222px;
  height: 199px;
  background-color: #4186bd;
  border-radius: 50%;
  transform: translate(50%);
  overflow: hidden;
  z-index: 3;
}

.head-white-shadow {
  position: absolute;
  background-color: rgba(245, 245, 245, 0.493);
  width: 80px;
  height: 106px;
  left: 40px;
  top: -10px;
  transform: rotate(60deg);
  border-radius: 100% 100% 96% 100% / 72% 70% 72% 68%;
  -webkit-box-shadow: -4px 2px 71px 23px rgba(196, 220, 245, 1);
  -moz-box-shadow: -4px 2px 71px 23px rgba(196, 220, 245, 1);
  box-shadow: -4px 2px 71px 23px rgba(196, 220, 245, 1);
}

.eye-wrapper {
  position: absolute;
  width: 123px;
  height: 125px;
  background: rgb(179, 191, 203);
  background: linear-gradient(
    0deg,
    rgba(179, 191, 203, 1) 7%,
    rgba(255, 255, 255, 1) 33%
  );
  border-radius: 44% 51% 47% 52% / 46% 67% 16% 55%;
  transform: rotate(-20deg);
  z-index: 6;
  bottom: -205px;
  right: 95px;
}

.eye-blue {
  position: absolute;
  width: 30px;
  height: 51px;
  background: rgb(44, 75, 128);
  background: linear-gradient(
    122deg,
    rgba(44, 75, 128, 1) 0%,
    rgba(44, 83, 148, 1) 35%,
    rgba(83, 132, 187, 1) 100%
  );
  left: 43px;
  bottom: 33px;
  border-radius: 100% / 100%;
  transform: rotate(10deg);
  margin: 0 auto;
}

.eye-black {
  position: absolute;
  background-color: black;
  width: 15px;
  height: 35px;
  border-radius: 100% / 100%;
  bottom: 12px;
  transform: translate(50%);
}

.eye-white {
  position: absolute;
  background-color: white;
  width: 13px;
  height: 22px;
  border-radius: 100% / 100%;
  top: 1px;
  transform: translate(50%);
}

.forehead {
  position: absolute;
  width: 25px;
  height: 30px;
  background-color: #94ccda;
  z-index: 1;
  border-color: black #94ccda #94ccda black;
  border-style: solid;
  overflow: hidden;
}

.forehead-center {
  right: 6px;
  transform: rotate(45deg);
  bottom: 88px;
}

.forehead-left {
  right: 41px;
  transform: rotate(12deg);
  bottom: 75px;
}

.forehead-right {
  width: 10px;
  height: 37px;
  right: -25px;
  border-color: black #94ccda #94ccda;
  bottom: 88px;
  transform: rotate(-68deg);
}

.forehead-full {
  position: absolute;
  width: 51px;
  height: 42px;
  bottom: 55px;
  border-color: #94ccda;
  right: -10px;
  transform: rotate(-20deg);
}

.beak-top {
  position: absolute;
  width: 37px;
  height: 45px;
  background: rgb(239, 239, 239);
  background: linear-gradient(
    211deg,
    rgba(239, 239, 239, 1) 0%,
    rgba(247, 225, 142, 1) 35%,
    rgba(225, 194, 59, 1) 100%
  );
  border-radius: 50% / 70% 70% 30% 30%;
  z-index: 5;
  transform: rotate(4deg);
  bottom: -158px;
  right: 49px;
}

.beak-bottom {
  position: absolute;
  width: 32px;
  height: 23px;
  background-color: #f4d757;
  border-radius: 30% 40% 50% 50%;
  right: -11px;
  bottom: 36px;
  transform: rotate(-25deg);
  z-index: 4;
  bottom: -165px;
  right: 51px;
}
