.neck-right {
  position: absolute;
  width: 110px;
  height: 95px;
  background-color: #4186bd;
  bottom: -280px;
  right: 140px;
  border-color: #4186bd black black #4186bd;
  border-style: solid;
  border-radius: 25% 49% 37% 63% / 9% 43% 48% 77%;
  transform: rotate(30deg);
  z-index: 1;
}

.neck-left {
  position: absolute;
  width: 70px;
  height: 52px;
  background-color: #4186bd;
  bottom: -240px;
  right: 80px;
  border-radius: 25% 46% 37% 62% / 9% 71% 28% 49%;
}
