@import "head.css";
@import "neck.css";
@import "body.css";
@import "back.css";
@import "feet.css";

.container {
  margin: 0 auto;
  position: relative;
  margin-top: 100px;
  width: 400px;
}

.solid-border {
  border-color: black;
  border-style: solid;
}

.piplup-hover {
  position: relative;
  display: block;
  margin: 0 auto;
  animation: hovering 5s ease-in-out infinite running;
}

@keyframes hovering {
  0%,
  100% {
    transform: translateY(0px);
  }
  25%,
  75% {
    transform: translateY(-8px);
  }
  50% {
    transform: translateY(0px);
  }
}
